@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Jost", sans-serif;
}


.navBar {
  z-index: 1000001 !important;
}


.gradientBg {
  background: linear-gradient(99deg, #E275FF 0%, #0F101E 100%);
}

.gradientBtn {
  background: linear-gradient(99deg, #36385c 0%, #9e5daf 100%);
}

.btnPrimary {
  @apply py-2 px-5 md:py-3 md:px-8 font-semibold text-white bg-BgPrimaryColor/80 rounded hover:bg-secondaryColor transition-all duration-300
}